.header {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__logo {
    width: 50%;
    height: 50%;
}

.header__slogan {
    font-size: 16px;
    margin: 0;
    left: 20px;
    top: -10px;
}

.main {
    padding: 0 10px;
}

.main__title {
font-size: 26px;
}

.main__title--underline::after {
    height: 3px;
}

.connect__form {
    width: 100%;
}

.connect__title {
    font-size: 34px;
}

.connect__img {
    display: none;
}

#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 20px;
}

.user {
    display: flex;
    flex-direction: column;
    position: static;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.user__submit, .disconnect, .delete{
    display: none;
}

.user__container {
    padding-left: 0;
    height: auto;
    width: auto;
}
.user__img {
    width: 40px;
    height: 40px;
}

.form__user {
    display: none;
}

.post__img {
    width: 40px;
    height: 40px;
}

.post {
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    max-width: 100%;
    height: max-content;
}

.main__posts {
    padding: 10px;
    max-width: 90%;
}

.post__head {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.post__reply {
    top: 0;
}

.user {
    width: 90%;
    max-width: 90%;
}

.mobile .disconnect, .mobile .user__submit, .mobile .delete, .mobile .form__user, .mobile {
    display:block;
}

.mobile .form__user {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
}

.mobile .disconnect {
    width: 100%;
}