.header {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__logo {
    width: 50%;
    height: 50%;
}

.header__slogan {
    font-size: 16px;
    margin: 0;
    left: 20px;
    top: -10px;
}

.main {
    padding: 0 10px;
}

.main__title {
font-size: 26px;
}

.main__title--underline::after {
    height: 3px;
}

.connect__form {
    width: 100%;
}

.connect__title {
    font-size: 34px;
}

.connect__img {
    display: none;
}

#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.user {
    display: flex;
    flex-direction: column;
    position: static;
}

.main {
    display: flex;
    flex-direction: column;
}

.form__submit {
    display: none;
}

.delete {
    display: none;
}

.user__container {
    padding-left: 0;
}

.user__head .header__logo {
    width: 100%;
    height: 100%;
}

.user__img {
    width: 40px;
    height: 40px;
}

.form__user .form__submit{
    display: none;
}

.form__user .form__input{
    display: none;
}

.form__user .form__upload{
    display: none;
}

.post__img {
    width: 40px;
    height: 40px;
}

.post {
    flex-direction: column;
    gap: 0;
}