@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap');
:root{
    --main-color: #fd2d01;
    --reduced-color: #FF6747;
}
*{
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.header{
    margin-top: 5%;
    margin-left: 200px;
}

.header__slogan{
    font-size: 22px;
    margin: 0 75px;
    position: relative;
    top: -20px;
}

.main {
    padding: 0 275px;
}

.main__title {
    font-size: 42px;
}

.main__title--underline {
    position: relative;
}

.main__title--underline::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    display: block;
    background-color: var(--main-color);
    height: 5px;
    border-radius: 25px;
    z-index: -1;
}

.main__connect {
    display: flex;
    justify-content: space-between;
}

.connect__img {
margin-top: 85px;
}

.connect__form {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    width: 400px;
}

.connect__input {
    height: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    padding: 10px 25px;
}

.connect__input:focus-visible, .connect__input:focus {
    border: var(--main-color) 1px solid;
    outline: none;
}

.connect__btn {
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    transition: 200ms ease-in-out;
    margin-bottom: 15px;
}

.connect__btn:hover {
    background-color: var(--reduced-color);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.connect__title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 5px;
}

.connect__noaccount {
    font-size: 22px;
    margin: 0 25px;
}

.connect__inscription {
    text-decoration: none;
    color: var(--main-color);
    transition: 200ms ease-in-out;
}

.connect__inscription:hover {
color: var(--reduced-color);
}

.user__img {
    width: 60px;
    border-radius: 50px;
}

#chat {
    display: flex;
    padding: 120px 160px;
    justify-content: space-between;
}

#chat .main {
    padding: 0;
}

#chat .header{
    margin: 0;
}

.user {
    max-width: 50vw;
    width: 550px;
    height: fit-content;
    position: sticky;
    top: 100px;
}

.user__container {
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user__info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user__name {
    font-weight: 700;
}

.form__input {
    height: 170px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    padding: 10px 25px;
    resize: none;
    width: 100%;
}
.form__input::placeholder{
    color: #a6a6a6;
}
.user__textarea{
    position: relative;
}

.form__remain {
    position: absolute;
    right: 25px;
    bottom: 10px;
    color: #a6a6a6;
}

.form__file {
    display: none;
}

.form__upload {
    cursor: pointer;
    display: block;
}

.form__submit {
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    transition: 200ms ease-in-out;
    padding: 0 50px;
    cursor: pointer;
}

.form__submit:hover{
    background-color: var(--reduced-color);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.25);
}

.form__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px 0;
}

.main__posts {
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 40vw;
    min-width: 40vw;
}

.main__post {
    padding: 20px 25px;
}

.post__img {
    width: 70px;
    border-radius: 50px;
}

.post {
    display: flex;
    gap: 20px;
    transition: .2s;
    cursor: pointer;
}

.post:hover {
    background-color: #ff66470c;
}

.post__reply {
    margin-left: auto;
    transition: 0.2s;
    align-self: center;
    display: flex;
    position: relative;
    top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.post__reply:hover {
    filter: invert(22%) sepia(99%) saturate(2582%) hue-rotate(0deg) brightness(103%) contrast(110%);
    transform: scale(120%);
}

.post__time {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 0;
}

.post__head {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.post__msg {
    width: 70%;
}

.post__content {
    margin: 0;

}
.post__author {
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
}

.post:not(.post:last-child){
    border-bottom: 1px #dedede solid;
}

.main__see {
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.post__msg img {
    border-radius: 20px;
    width: 200px;
    margin: 20px;
    height: 200px;
    object-fit: cover;
}

.main__post--comment {
    padding-left: 50px;
    background-color: rgb(248, 248, 248);
}